{% load actionkit_tags %}
{% filter collapse_spaces %}

{% if event.venue %}
    <div class="event-venue">
        {{ event.venue }}
    </div>
{% endif %}

<div class="event-address clearfix">
    <div class="event-address-content">
        <div class="event-address1">{{ event.address1 }}</div>
        <div class="event-city-etc">{{ event.city_etc }}</div>
    </div>
</div>

<table class="ak-event-table">

    <tr class="ak-event-time">
        <th>Established:</th>
        <td>
          {% if event.custom_fields.team_established_year %}
          {% if event.custom_fields.team_established_month %}
          {% with event.custom_fields.team_established_month|concatenate:"/"|concatenate:event.custom_fields.team_established_year|load_datetime:"%m/%Y"|date:"F Y"|default:event.custom_fields.team_established_year as established_on %}
          {{ established_on }}
          {% endwith %}
          {% else %}
          {{ event.custom_fields.team_established_year }}
          {% endif %}
          {% endif %}

        </td>
    </tr>

{% if event.directions %}
    <tr class="ak-event-directions">
        <th>Directions:</th>
        <td>{{ event.directions }}</td>
    </tr>
{% endif %}
{% if event.note_to_attendees %}
    <tr class="ak-event-note-to-attendees">
        <th>Note to members:</th>
        <td>{{ event.note_to_attendees }}</td>
    </tr>
{% endif %}
{% if event.campaign.allow_private %}
    <tr class="ak-event-privacy">
        <th></th>
        <td>
            <label>Team is {% if event.is_private %}private{% else %}public{% endif %}.</label>
        </td>
    </tr>
{% endif %}
    <tr class="ak-event-signup-link">
        <th>Signup link:</th>
        <td> <a href="http://{% client_domain %}{{ event.public_url }}">http://{% client_domain %}{{ event.public_url }}</a></td>
    </tr>
</table>

{% include "event_custom_field_categories.html" %}

{% if event.public_description %}
    <p class="ak-event-description">
        {{ event.public_description|linebreaks }}
    </p>
{% endif %}

{% endfilter %}
